:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

main {
    flex: 1;
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-cols), 1fr);
    overflow: hidden;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    border: 3px solid white;
    width: 200px;
    height: 200px;
}

footer {
    display: flex;
    justify-content: center;
}